body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

input[type="range"] {
    width: 200px;
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}


.image-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; /* 可以根据需要调整间距 */
}

.image-list img {
    width: 100%;
    height: auto;
}

#largeImageContainer {
    width: 600px; /* Fixed width */
    height: 400px; /* Fixed height */
    border: 5px solid black; /* Black border */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#largeImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures the image maintains its aspect ratio */
    display: none;
}